#! @revision 2020-08-26 (Wed) 19:13:47
#! @seealso  https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Authorised owners:
# - PATinfo ISLEsuisse ISLEserbia
# - isle-centurion isle-factotum isle-optio isle-signifer
# - marcastel patrickmamin

* @patrickmamin @marcastel @isle-factotum

# vim: nospell
