#! @revision 2020-08-26 (Wed) 17:13:57
#! @seealso  https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Authorised owners:
# - ISLEsuisse ISLEserbia
# - isle-centurion isle-factotum isle-optio isle-signifer
# - marcastel patrickmamin sangliere snez-ana

* @marcastel @isle-factotum

# vim: nospell
